// Welcome theme
.welcome-theme
  background-color $bg-color-welcome-1
  color $text-color-welcome-1
  a
    color $text-color-welcome-1
  .btn
    background-color $bg-color-welcome-2

// About theme
.about-theme
  background-color $bg-color-about-1
  color $text-color-about-1
  a
    color $text-color-about-1
  .l-header
    background-color $bg-color-about-2
  .m-main-nav
    li
      a
        color $text-color-about-2
      &:hover
        background-color $bg-color-about-1
        a
          color $text-color-about-1
  .m-second-nav
    .is-current
      background-color $bg-color-about-1

// Theme 1
.theme-1
  background-color $bg-color-1-3
  color $text-color-1-1
  a
    color $text-color-1-1
  .l-header
    background-color $bg-color-1-1
  .m-main-nav
    li.is-enable:hover, li.is-current
      background-color $bg-color-1-2
      a
        color $text-color-1-2
  .m-second-nav
    li:hover
      background-color $bg-color-1-2
      a
        color $text-color-1-2
    a
      color $text-color-1-1

// Theme 2
.theme-2
  background-color $bg-color-2-3
  color $text-color-2-1
  a
    color $text-color-2-1
  .l-header
    background-color $bg-color-2-1
  .m-main-nav
    li
      &.is-disable a
        color $text-color-2-3
        opacity .5
      &.is-enable:hover
        background-color $bg-color-2-1
      &.is-current
        background-color $bg-color-2-2
        a
          color $text-color-2-2

  .m-second-nav
    background-color $bg-color-2-1
    li:hover
      background-color $bg-color-2-2
      a
        color $text-color-2-2
    a
      color $text-color-2-1

// Theme 3
.theme-3
  background-color $bg-color-3-2
  color $text-color-3-1
  a
    color $text-color-3-1
  .l-header
    background-color $bg-color-3-1
  .m-main-nav
    li
      &.is-disable a
        color $text-color-3-3
        opacity .5
      &.is-current
        background-color $bg-color-3-2
        a
          color $text-color-3-2
      &.is-enable:hover
        background-color $bg-color-3-3

  .m-second-nav
    background-color $bg-color-3-1
    li:hover
      background-color $bg-color-3-2
      a
        color $text-color-3-2
    a
      color $text-color-3-1

// Theme 4
.theme-4
  background-color $bg-color-4-2
  color $text-color-4-1
  a
    color $text-color-4-2
  .l-header
    background-color $bg-color-4-1
  .m-main-nav
    li
      &.is-disable a
        color $text-color-4-2
        opacity .5
      &.is-current
        background-color $bg-color-4-2
        a
          color $text-color-4-2
      &.is-enable:hover
        background-color $bg-color-4-2

  .m-second-nav
    background-color $bg-color-4-2
    a
      color $text-color-4-2
    li:hover
      background-color $bg-color-4-3
      a
        color $text-color-4-1
