.l-header
  @extend .is-clearfix

.l-nav
  display flex
  justify-content space-between
  align-items stretch

.l-page
  display none
  flex 1

  &.is-active
    display flex

  iframe
    display block
    width 100%
    flex 1
