.m-nav
  display flex
  flex 1

.m-main-nav, .m-second-nav
  display flex
  text-align stretch
  ul
    display flex
    align-items stretch
    width 100%
    justify-content space-between
  li
    display flex
    justify-content center
    flex 1
    align-items stretch
    &.is-disable a
      opacity .5
  a
    display flex
    width 100%
    align-items center
    justify-content center
    text-transform uppercase
    text-decoration none

.m-main-nav
  flex 1
  a
    line-height 1
  .day, .dayname
    display block
    text-align center
  .day
    font-size 28px
    font-weight bold
  .dayname
    font-size 12px

.m-second-nav
  a
    line-height 30px
    font-weight bold
    padding 0 20px
