.mod-article
  width 100%
  display flex
  align-items center
  justify-content center

  article
    max-width 750px
    margin 0 auto

    h2
      margin-top 1.2em
      margin-bottom 0
    p
      margin-top .3rem

  #aboutPageView &
    display block
    padding 100px 0
    overflow auto
    -webkit-overflow-scrolling touch
